body {
	font-family: 'Raleway', sans-serif;
	color: #333;
}

/* Clearfix */

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

a {
	text-decoration: none;
}

/* Wrapper */

.wrapper {
	max-width: 1000px;
	padding: 0 2%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}


.banner {
	padding: 3em 0;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

.brand-image {
	width: 50%;
	text-align: left;
}

.image {	
	width: 100px;
	height: 100px;
	margin-top: 60px;
	border-radius: 50%;
}

.brand {
	margin: 0;
	font-size: 1.2em;
	text-transform: uppercase;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 4px;
	width: 200px;
}


.job-title {
	width: 50%;
}

.job-title h1 {
	text-align: right;
	font-size: 3.5em;
	float: right;
}


.row {
	width: 100%;
	margin-bottom: 2em;
}

#work {	
	background-color: #333;
	padding: 5em 0;
}

.card {
	background-color: #fff;
	border-radius: .35em;
	display: table;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card-full {
	width: 100%;	
}

.card-half {
	width: 48.5%;
	float: left;
}

.left {
	margin-right: 1.5%;
}

.right {
	margin-left: 1.5%;
}

.card-inner {
	display: table-cell;
	vertical-align: middle;	
	height: 100%;
	padding: 1.5em 2%;
	color: #fff;
}

.card-inner p {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;	
}

.card-inner h2 {
	font-size: 3em;
	margin: 0;
}

.tall {
	height: 600px;
}

.pink{
	background-color: rgba(159,69,82,0.7);
	border-radius: .35em;
}

.pink:hover {
	background-color: rgba(159,69,82,0.8);
}

.green {
	background-color: rgba(67,150,57,0.7);
	border-radius: .35em;	
}

.purple {
	background-color: rgba(106,38,178,0.7);
	border-radius: .35em;	
}

.blue {
	background-color: rgba(47,158,182,0.7);
	border-radius: .35em;	
}

.card-1 {
	background-image: url(./img/typography.jpeg);
}

.card-2 {
	background-image: url(./img/calculator.jpeg);
}

.card-3 {
	background-image: url(./img/watch.jpg);
}

.card-4 {
	background-image: url(https://media.livecoding.tv/livestream_splashscreen/16/10/image_ZW3cnju.jpeg);
}


@media only screen and (max-width: 700px) {
    .card-half, .brand-image, .job-title {
    	width: 100%;
    }

    .brand-image {
    	text-align: center;
    }

    .job-title h1{
   		float: none;
   		text-align: center;
    }

    hr {
    	width: 100%;
    }

    .tall {
    	height: 450px;
    }


    .left {
    	margin: 0;
    	margin-bottom: 2em;
    }

    .right {
    	margin: 0;
    }
}