@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
	font-family: 'Raleway', sans-serif;
	color: #333;
}

/* Clearfix */

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

/* Wrapper */

.wrapper {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.banner {
	padding: 3em 0;
}

.logo {
	float: left;
	background: #34495e;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	font-size: 1.1em;
}

.banner h1 {
	text-align: right;
	font-size: 3.5em;
	float: right;
}

.work {	
	background-color: #333;
	padding: 5em 0;
}

.card {
	background-color: #fff;
	border-radius: .35em;
	height: 450px;
	display: table;
}

.card-full {
	width: 100%;	
}

.card-inner {
	display: table-cell;
	vertical-align: middle;	
	height: 100%;
	padding: 1.5em 12%;
}

.purple {
	background-color: #9b59b6;
}